-content_for :menu do
  =breadcrumbs [link_to('Account', account_path), 'Edit Business Profile']
#content
  .main.full
    %h3 Edit Business Profile
    %p Provide some basic information about your business/group here. You can edit your hours and add links to your website and other popular social networks as well.
    %p This information will be displayed publicly on the profile page of your business.  Provide any information you would like Cogster supporters (or potential supporters) to see!
    .span-18.prepend-1
      =error_messages_for @business
      =form_for @business, :url => business_path(@business) do |f|
        =render :partial => 'shared/business_form', :locals => { :b => f }
        =render :partial => 'shared/user_community_form', :locals => { :f => f}
 
        %fieldset
          %legend Website, Facebook & Twitter Links:
          %p If applicable, please copy & paste the respective URLs in the fields below. (use this format: 'http://www.example.com')
          =f.fields_for :websites do |site|
            .field
              =site.label :url, "#{site.object.label.capitalize} URL"
              =site.text_field :url, :class => "text"
        %fieldset
          %legend Contact Information
          %p Update your business' physical address and phone number information here.
          =render :partial => "shared/address_form", :locals => { :f => f, :addressable => @business.address }
        %div
          =f.submit "Update"
          =link_to 'Click here to upload a logo for display', edit_logo_business_path(@business)
  #rightbar

