-content_for :menu do
  =menu
#content
  .main.full
    #business_region_list
      %h2.seo_hide The Buzz In Town. Discover great local businesses below
      %h3
        Search for
        =params[:search] || params[:filter]
      #business_controls
        #business_sort
          #sort_by_text Sort By:
          #business_sort_selection{:style => "background: url(/images/images8/business_sort_arrow_left.png) no-repeat scroll 95% 50% transparent;"}
            %strong{:style => "color: rgb(83, 83, 91);"} Popularity
            %ul{:style => "display: none;"}
              %li=link_to "Name (A-Z)", businesses_path(:sort => :name)
              %li=link_to "Newest", businesses_path(:sort => :date)
        .clear
      #businesses
        -if @home_businesses.count + @businesses.count == 0
          %p 
            =none_like
            You can search again in the "Find Merchant" box on the right side of the menu bar, browse through businesses by community with the community selector on the left, or browse by any of the categories in the middle.
        -else
          %h3="#{@community.name} Businesses"
          =render :partial => "shared/business", :collection => @home_businesses
          %h3 Other Businesses
          =render :partial => "shared/business", :collection => @businesses
  #rightbar
