-content_for :menu do
  =menu_without_business_filters
#content
  .main.full
    #business_details.business
      %h2=@business.name
      %h3=@business.current_project.name 
      =render :partial => "shared/progress_bar", :locals => { :project => @business.current_project, :social => true }
      .project_details
        #biz_logo_img.img_container{:style => "height: 150px; width: 150px;"}
          =link_to image_tag(@business.image, :alt => "Test:  The Gingerbread Man"), new_business_purchase_path(@business)
        %h3 Project Details
        %p This is a test project so Zach can test out autoemail functionality
        =link_to "Support this Project", new_business_purchase_path(@business), :class => "right"
      .clear
      .column
        .contact
          %h4 Contact Info
          %dl
            %dt Phone
            %dd 814-237-0361
            %dt Email
            %dd ribs@hotsauce.com
            %dt Website
            %dd www.gotyourribsrighthere.com
      .steeple
        %h4 Business Details
        %p=@business.description
  #rightbar
    %h3#double_money.seo_hide=link_to "Double Your Money", new_business_purchase_path(@business)
    %h3.seo_hide.our_cogs Our Cogs
    %ol.top_cogs
      =render :partial => "shared/cog", :collection => @business.supporters
    .clear
    =render "shared/personal_swag"
    =link_to "What is swag?", swag_path, :id => "smaller" 
