-content_for :title do
  ="Cogster - #{@business.name}"
-content_for :menu do
  =breadcrumbs [link_to(@community.name, @community), @business.name]
#content
  .main.full
    #business_details.business
      %h2=@business.name
      %span.project.left
        -if @business.current_project.persisted?
          ="You Pay: $#{@business.current_project.amount.to_i} | You Get: "
          =link_to_if purchase_possible?(@business), "$#{@business.current_project.max_redemption.to_i}", new_business_purchase_url(@business, :protocol => 'https'), :class => 'purchase'
      =render :partial => "shared/progress_bar", :locals => { :project => @business.current_project, :social => true }
      .project_details
        #biz_logo_img.img_container{:style => "height: 150px; width: 150px;"}
          =link_to_if false, image_tag(@business.image_url, :alt => @business.current_project.name), new_business_purchase_url(@business, :protocol => 'https')
        %h3 Business Details
        %p=@business.description
        =conditional_purchase_link("Support", @business, :class => "right", :id => "support")
      .clear
      .column
        .contact
          %h4 Contact Info
          %dl
            =dt_dd_phone(@business)
            =dt_dd_email(@business)
            =dt_dd_website(@business)
            =dt_dd_address(@business)
        -if @business.hours.any?(&:open?)
          .contact
            %h4 Business Hours
            %dl
              -@business.hours.each do |day|
                %dt{ :class => day.weekday }=day.weekday
                %dd{ :class => day.weekday }=day
  #rightbar
    %h3#double_money.seo_hide=conditional_purchase_link("Double Your Money", @business, {}, "We did it!") 
    =image_tag @community.image_url
