-content_for :menu do
  =breadcrumbs [link_to(@business.community.name, @business.community), @business.name]
#content
  .main.full
    #business_details.business
      %h2=@business.name
      %h3=@business.current_project.name 
      =render :partial => "shared/progress_bar", :locals => { :project => @business.current_project, :social => true }
      .project_details
        #biz_logo_img.img_container{:style => "height: 150px; width: 150px;"}
          =link_to image_tag(@business.image_url, :alt => @business.current_project.name), new_business_purchase_path(@business)
        %h3 Project Details
        %p=@business.current_project.reason 
        =conditional_purchase_link("Support this Project", :class => "right")
        -if @business.current_project.kicker.present?
          %h3 Here's the Kicker:
          %p=@business.current_project.kicker
      .clear
      .column
        .contact
          %h4 Contact Info
          %dl
            -if @business.address
              =dt_dd(@business, :phone)
              =dt_dd(@business, :email)
            =dt_dds(@business, :websites, :url)
        .contact
          %h4 Business Hours
          %dl
            -@business.hours.each do |day|
              %dt{ :class => day.weekday }=day.weekday
              %dd{ :class => day.weekday }=day
      .steeple
        %h4 Business Details
        %p=@business.description
  #rightbar
    %h3#double_money.seo_hide=conditional_purchase_link("Double Your Money", {}, "We did it!") 
    %h3.seo_hide.our_cogs Our Cogs
    %ol.top_cogs
      =render :partial => "shared/cog", :collection => @business.top_supporters
    .clear
    =render "shared/personal_swag" if user_signed_in?
    =link_to "What is swag?", swag_path, :id => "smaller" 
