-content_for :menu do
  =admin_menu
#content
  .main.full
    %h2 Businesses
    %table{ :cellpadding => 0, :cellspacing => 0 }
      %thead
        %tr
          %th Business
          %th Community
          %th Merchant
          %th Active
          %th{ :colspan => 2 }
      %tbody
        =render :partial => 'business', :collection => @businesses
    %p 
      To add a new business, go to the
      =link_to "new user page", new_admin_user_path
      and select 'merchant'.
