<p>Hello <%= @name %>,</p>

<p>Cha-ching! You just made an impact on the local economy. (Pretty cool, huh?)</p>

<p>Your purchase for <%= @business %> was successful.</p>

<p>Get your friends to support this project, and make your impact even...more impactful! Help <%= @business -%> hit 100%!</p>

<p>Thank you,</p>
<p>The Cogster Team</p>
