-content_for :menu do
  =menu
#content
  .main.narrow
    %h2 Edit Business Option
    =form_for @business_option, :url => admin_business_option_path(@business_option) do |f|
      = render :partial => 'form', :locals => { :f => f }
    =link_to "Cancel", admin_business_options_path
