#content
  .main.narrow
    .span-19.prepend-1
      %h2 Frequently Asked Questions:
      %ul.bodyNoBkgd
        %li
          %a{ :href => "#accesscash" } How do I access my Cogster Cash?
        %li
          %a{ :href => "#rollovercash" } Does Cogster Cash roll over if I don't use it in the period I receive it?
        %li
          %a{ :href => "#restrictedcash" } Will my Cash be restricted in any way?
      %hr/
      %ul
        %li
          %a{ :name => "accesscash" }
          %b How do I access my Cogster Cash?
          %br/
          %p Log-in, go to your "My Account" page, and click "Print Cash".  Take it with you when you shop, and present your Cogster Cash to the business when paying your bill.  Remember, Cogster Cash is delivered to you over incremental periods.  You will receive email reminders along the way.  Use your Cogster Cash within the assigned dates.
        %li
          %a{ :name => "rollovercash" }
          %b Does Cogster Cash roll over if I don't use it in the period I receive it?
          %br/
          %p No.  Cogster Cash is available in incremental periods (weekly/monthly) and is only valid during that period.  This makes it possible for local businesses to correctly manage their outstanding cash.  The period expiration date for your cash is determined by your date of purchase and appears right on the cash certificate.
        %li
          %a{ :name => "restrictedcash" }
          %b Will my Cash be restricted in any way?
          %br/
          %p No.  Merchants agree to treat your Cogster Cash as good as U.S. Dollars.   There are no blackout dates.  However,  some merchants may not allow its use in combination with other special promotions or offers.
        %li
          %p
            %b More questions?
            %br/
            Head over to the
            =link_to "contact page", "/contact"
            and get in touch with us directly. Or, email
            =mail_to "support@cogster.com", "support@cogster.com"
