-content_for :menu do
  =menu_without_business_filters
#content
  .main.narrow
    %h2 Cogster is all about locally-owned businesses
    %p
      Use Cogster to Double your Money and add a little
      =link_to "swag", "swag"
      to your town.
    %div
      =image_tag "images8/about_local.png", :width => "600"
    %div
      %h3 The Swag Meter: Measuring the Collective Impact in Your Community
      %ul
        %li
          %p Local economic vitality is enhanced by a steady flow of local investment dollars and a critical mass of vibrant small businesses.  The result is new jobs and better towns.
        %li
          %p
            Cogster adds up the local economic value you help to create by assigning swag points to the impact you make when funding projects.
            %u The swag meter displays the collective impact you and your peers are making in your community.
            The metric we use to define your total impact is jobs.  The meter display counts down until enough value is generated to create one new job in your town.  Then, it starts over from the top.
    %div
      %h3 Triple Impact
      %br/
      .left
        =image_tag "all_about_local_1.png", :width => 390
      .text_right
        %p
          One dollar spent at a locally-owned business can be
          %u three times
          as powerful as the same dollar spent at a chain.  Local businesses recycle a greater percentage of the money they take in locally:  they buy from local suppliers, pay local wages, and add to the local tax base.
    .clear
    %div
      %small
        Learn More:
        %p=link_to "How Cogster Works", how_it_works_path, :class => "new_window"
        %p=link_to "http://www.newpa.com", "http://www.newpa.com", :class => "new_window"
        %p=link_to "http://www.civiceconomics.com", "http://www.civiceconomics.com", :class => "new_window"
        %p=link_to "http://www.preservationnation.org/main-street", "http://www.preservationnation.org/main-street", :class => "new_window"
        %p=link_to "http://www.cbicc.org", "http://www.cbicc.org", :class => "new_window"
        %p=link_to "http://www.the350project.net", "http://www.the350project.net", :class => "new_window"
