-content_for :menu do
  =menu_without_business_filters
#content
  .main.narrow
    .privacy
      %h2 Cogster Privacy Agreement
      %hr/
      %p We strongly believe that consumers privacy and sensitive personal information deserves protection. Our privacy policy applies to all current and former Cogster members. The following is a summary of Cogster's privacy practices.
      %hr/
      %h3.bodyNoBkgd We collect information about you:
      %ul
        %li.bodyNoBkgd Directly from you as a community member at the time of registration.
        %li.bodyNoBkgd Periodically as you update your profile information.
        %li.bodyNoBkgd From outside sources such as credit bureaus in order to offer you the services you request through this web site.
        %li.bodyNoBkgd Through feedback from other users of Cogster with whom you may conduct business.
      %h3.bodyNoBkgd We share your information:
      %ul
        %li.bodyNoBkgd With other members of Cogster, but only as much information as you choose to reveal about yourself.
        %li.bodyNoBkgd With other third parties that are involved in the process of providing the services that you request, such as credit bureaus, customer service providers, and collection agencies, and companies that provide services on our behalf.
        %li.bodyNoBkgd As permitted or required by law.   
      %h3.bodyNoBkgd We share and display certain information:
      %ul
        %li.bodyNoBkgd We display merchant listings publicly on the Cogster web site.
        %li.bodyNoBkgd Profile information when you make a “post, comment, or blog”
      %h3.bodyNoBkgd Note Regarding Children Under 18
      %p.bodyNoBkgd Members of the Cogster community must be Residents of the United State and Commonwealth of Pennsylvania that are 18 years of age or older. Children under the age of 18 are not eligible to participate in the offerings on this web site.
      %h3.bodyNoBkgd Information We Collect
      %p.bodyNoBkgd
        Cogster collects personal information as part of
        the registration process for people joining the Cogster community. For
        businesses wishing to raise funds, we will require both the Employer
        Identification Number and Taxpayer Identification Number of the
        business, and the social security number of the authorized party. For
        Cogster members, we will require the name, address, phone, and email of
        the registered member. In the course of completing transactions, we may
        collect bank or credit card information. If you have a question
        regarding our services prior to registering as a community member, we
        may collect your name and email address in order to respond to your
        requests.
      %p.bodyNoBkgd
        If you post a listing as a merchant, the listing
        may contain basic information regarding your credit history and credit
        rating, in addition to any other information you make the personal
        decision to post.
      %p.bodyNoBkgd
        As an individual member, you will be identified
        only by your screen name, which you choose and which you can use to
        remain anonymous. If you provide identifying information, either in your
        choice of screen name or otherwise, it is your choice, and you do so at
        your own discretion.
      %p.bodyNoBkgd
        We use your information to prepare your customer
        or merchant profile and to facilitate requested transactions in the
        Cogster community.
      %p.bodyNoBkgd
        If we have trouble processing a transaction, we
        may use this information to contact you.
      %p.bodyNoBkgd
        If we have trouble processing a transaction, we
        may use this information to contact you.
      %h3.bodyNoBkgd We share your information
      %p.bodyNoBkgd
        Because Cogster is a community-oriented
        marketplace, it is important that merchants and customers have
        sufficient information about each other in order to consider
        transactions. You are welcome to share as much information about
        yourself as you think is necessary and appropriate. Such sharing of
        information is entirely your choice, and you share this information at
        your own discretion.
      %p.bodyNoBkgd
        If you choose to use our referral service to tell
        a friend about our web site, we will ask you for your friend's email
        address. We will automatically send your friend a one-time email
        inviting him or her to visit the web site. We store this information for
        the sole purpose of sending this one-time email and tracking the success
        of our referral program. Your friend may click on the unsubscribe link
        at the end of the email to prevent Cogster from sending additional email
        to his or her email address.
      %p.bodyNoBkgd
        We have relationships with other trusted third
        parties that perform services on our behalf. This includes credit
        bureaus, quality assurance agents, and collection agencies, and
        companies that distribute our emails for us or collect survey
        information from our customers. We share information with these service
        providers in order to complete the transactions that you request and to
        communicate effectively with our customers. All service providers are
        bound by contract to maintain the confidentiality of your personal
        information.
      %p.bodyNoBkgd
        We may share your information with law enforcement
        or other government agencies as required by law.
      %p.bodyNoBkgd
        We may provide information, limited to name,
        address, phone number and/or e-mail address to our registered merchants
        for them to send customers promotion offers and materials.
      %h3.bodyNoBkgd We give you choices regarding your information
      %p.bodyNoBkgd
        You have choices about the personal information
        you display about yourself. We give you easy access to update your
        personal profile and view your transaction documents.
      %p.bodyNoBkgd
        Some information is required in order to
        participate in the Cogster community. For example, we need certain
        information in order to verify your identity as an individual.
      %p.bodyNoBkgd
        Some information is optional. You can share as
        much or as little optional information as you like. Customers may
        request information from you if you post a listing as a merchant.
      %p.bodyNoBkgd
        You can access and review the personal information
        you submit at any time and update your personal preferences at any time.
        To update your personal profile information, you can log in to your
        account using your email address and password specified at the time of
        registration.
      %p.bodyNoBkgd
        The information we collect from you when you
        register as a Cogster member is kept securely in our database. We retain
        this information to satisfy legal requirements such as recordkeeping and
        tax and credit reporting requirements, as well as for purposes of fraud
        prevention, auditability and data integrity.
      %h3.bodyNoBkgd We protect your information
      %p.bodyNoBkgd
        At Cogster, we are committed to maintaining the
        security and confidentiality of your personal and financial information.
        We maintain physical, electronic, and procedural safeguards that meet or
        exceed industry standards for financial institutions by using encryption
        technology to protect your personal information that you submit to
        Cogster and limiting employee and third party access to your personal
        information.
      %p.bodyNoBkgd
        Federal and state regulations may require that we
        maintain and report aggregate demographic information on members who
        participate in transactions. We may also maintain information, including
        personally identifiable information of our members, for a period of
        seven years or more in accordance with federal and state laws.
      %hr/
      %h2 Other important information
      %h3.bodyNoBkgd Marketing preferences
      %p.bodyNoBkgd
        Cogster does not sell or rent your information to
        marketing firms. We do send communications to you periodically to notify
        you of status or events related to your participation in our community.
        Some of these communications are required as part of transactions you
        are contemplating or have completed through our web site.
      %h3.bodyNoBkgd Our use of cookies
      %p.bodyNoBkgd
        Cookies are small text files created by a web site
        that store information on your computer, such as your preferences when
        visiting that site. Cogster uses cookies when you sign in, to keep track
        of your personal session, including some account identifiers so that we
        can ensure that you are the only person making changes to your account.
        We also use cookies to track your activity on our site as a unique
        person. All of this information is stored in an encrypted fashion for
        security reasons, and no personal information about you is stored.
      %p.bodyNoBkgd
        We use session ID cookies to make it easier for
        you to navigate our site. Session ID cookies expire when you close you
        browser. We use a persistent cookie that remains on your hard drive for
        an extended period of time, so that we can recognize you when you return
        to our web site. You can remove persistent cookies by following
        directions provided in your Internet browser's "help" file; however,
        because we use cookies for our sign-in functionality, if you choose to
        disable cookies you will not be able to log on to the Cogster web site.
      %h3.bodyNoBkgd Third party links
      %p.bodyNoBkgd
        Cogster may post links to third party web sites
        that are not subject to this privacy policy. Some member pages may also
        contain links unrelated to Cogster. If you visit these web sites, we
        encourage you to read their privacy policies before providing them with
        any personal information.
      %h3.bodyNoBkgd Helpful Tips
      %p.bodyNoBkgd
        Screen name selection: Your screen name is what
        members of Cogster and visitors to our web site use to identify you. In
        order to protect your privacy, you should choose a screen name that does
        not closely resemble your real name.
      %p.bodyNoBkgd
        It is a good practice to select a password for
        your account that is unique, a combination of letters, numbers and
        symbols, and isn't predictable or easy to guess.
      %p.bodyNoBkgd
        If you use the Discussion Forums on this web site,
        you should be aware that any personally identifiable information you
        submit there can be read, collected, or used by other users of these
        forums, and could be used to send you unsolicited messages. We do not
        monitor or mask personally identifiable information that may appear on
        the forums, so if you choose to put personal information on the forums
        you do so at your own risk.
      %p.bodyNoBkgd
        If you use a public computer or a computer that is
        accessible by others, you may wish to take special precautions in
        protecting your personal information, including logging out completely
        after accessing our site, closing the browser window, and clearing the
        cookie and password histories.
      %h3.bodyNoBkgd State Law
      %p.bodyNoBkgd
        You may have privacy rights under applicable state
        law in addition to those outlined in this privacy policy. You may wish
        to contact the state and/or federal agencies responsible for overseeing
        privacy rights of consumers for additional information.
      %h3.bodyNoBkgd Legal Disclaimer
      %p.bodyNoBkgd
        We reserve the right to disclose your personally
        identifiable information as required by law and when we believe that
        disclosure is necessary to protect our rights and/or comply with a
        judicial proceeding, court order, or legal process served on our Web
        site.
      %h3.bodyNoBkgd Changes to this policy
      %p.bodyNoBkgd
        To accommodate changes to our web site, changing
        technology, and possible legal requirements, Cogster may change this
        privacy policy at any time. We will promptly post any policy changes to
        this page and notify our members directly with notice of any material
        changes.
      %p.bodyNoBkgd
        For additional information, or if you have any
        questions regarding this policy or the privacy practices at Cogster,
        please submit your questions or comments directly to Cogster via email
        to Derek@cogster.com. Any personal information you submit will be used
        solely to respond to your requests.
      %p.bodyNoBkgd
        You can also send questions or comments to:
        %br
          Local Markets, Inc.
          %br
            234 E. College Avenue
        %br
          State College, PA 16801
