#content
  .main.full
    %div
      %h2 Sign Up for Cogster and join your community.
      %p 
        Please take a minute to fill out the information below. Already A User? 
        = link_to "Click here to login.", "/login"
      %p
        = render 'form'
  #rightbar
    -if params[:business].blank?
      %h3=link_to "Are You a Business Owner?", :business => true
    -else
      %h3 Terms of Use
      %p This is where the terms will be explained.

