#content
  .main.narrow
    %h2 Redeem Coupon
    %h3="Purchase by #{@user.abbr_name} (ID #{@user.cogster_id})"
    %p
      =@user.abbr_name
      may redeem the coupon for up to
      ="#{number_to_currency @coupon.amount}."
    =form_for [@business, @coupon] do |r|
      %fieldset
        .field
        =r.submit "Redeem"
    =link_to "Cancel", account_path
