.purchase_select
  .header
    .counter 3
    %h3 Payment Information
  %p 
    Enter Your Credit Card Information Below
    .field
      =f.label :first_name, "First Name On Card"
      =f.text_field :first_name, :class => "text"
    .field
      =f.label :last_name, "Last Name On Card"
      =f.text_field :last_name, :class => "text"
    .field
      =f.label :type, "Card Type"
      =f.select :type, options_for_select(credit_card_options, card_selection)
    .field
      =f.label :card_number, "Credit Card Number"
      =f.text_field :card_number, :class => "text", :value => '', :autocomplete => 'off'
    .field
      =f.label :security_code
      =f.text_field :security_code, :class => "text", :value => '', :autocomplete => 'off'
    .field
      =f.label :expiration_month, "Expiration Date"
      =f.select :expiration_month, options_for_select((1..12).to_a), {}, :class => "xsmall"
      =f.select :expiration_year, options_for_select((Date.today.year..(Date.today.year + 10)).to_a), {}, :class => "small"
  .clear
  .header
    .counter 4
    %h3 Billing Address
  %p 
    Enter Your Credit Card Billing Address Below
    =fields_for :user do |u|
      =render :partial => 'shared/address_form', :locals => { :f => u, :addressable => current_user.address }
  .clear
  %p
    /=f.check_box :terms
    By clicking 'Purchase', I agree to the
    =link_to "Cogster Member Purchase Agreement", member_purchase_agreement_path, :class => "new_window"
  =f.submit "Purchase"
