%tr
  %td.return_rate_period=redemption_amount(@project, return_rate_counter)
  %td.description
    in Cogster Cash from 
    =redemption_schedule(@project, @community.redemption_start, return_rate_counter)
