=notice_or_alert
.main.full
  #business_region_list
    %h2="Buy Local #{content_tag(:span, @community.name)}".html_safe 
    =event_dates(@community)
    %h4 Double Your Money. Support Local Business.
    =business_search_title
    #business_controls
      #business_sort
        #sort_by_text Sort By:
        #business_sort_selection
          =business_sorter
      .clear
    #businesses
      -if @businesses.present?
        -unless controller_name == 'communities'
          %h3="#{community_name} Businesses"
        =render :partial => "shared/business", :collection => @businesses
        =will_paginate @businesses 
      -else
        %p 
          =none_like
          You can search again in the "Find Merchant" box on the right side of the menu bar, browse through businesses by community with the community selector on the left, or browse by any of the categories in the middle.
