=other_community_title(business_counter)
.business
  %h4
    =link_to business.name, business
  .business_listing_details
    =link_to business_image(business), business
    .description
      =link_to render(:partial => 'shared/progress_bar', :locals => { :project => business.current_project }), business 
      -if business.current_project.accepting_purchases?
        %div
          %span.project.left
            ="You Pay: $#{business.current_project.amount.to_i} | You Get: "
            =link_to "$#{business.current_project.max_redemption.to_i}", business, :class => 'purchase'
            =link_to "Support >", business, :class => "right", :id => "support"
      =edit_business_link_if_allowed(business)
