.business
  %h4
    =link_to business.name, business
  .business_listing_details
    =link_to business_image(business), business
    .description
      =link_to render(:partial => 'shared/progress_bar', :locals => { :project => business.current_project }), new_business_purchase_path(business)
      %p=business.description 
      =edit_business_link_if_allowed(business)
