%ul
  %li=link_to "View All", :filter => :all
  %li=link_to "Restaurants", :filter => :restaurants
  %li=link_to "Health/Fitness", :filter => :health
  %li=link_to "Services", :filter => :services
  %li=link_to "Clubs", :filter => :clubs
  %li=link_to "Apparel", :filter => :apparel
