=form_tag businesses_path, :method => :get do
  #search_div
    =text_field_tag "search", "Find Merchant...", :id => "search"
    =image_submit_tag "images8/search_btn.png", :id => "submit", :alt => "Search"
