.field.split
  = f.label :password, :class => "required"
  = f.password_field :password, :class => "text"
  %span (6-25 characters)
.field
  = f.label :password_confirmation, "Confirm Password", :class => "required"
  = f.password_field :password_confirmation, :class => "text"
