=form_for [@business, @project] do |f|
  =error_messages_for @project
  %fieldset
    %legend Project Details
    .legend_field_set
      .field
        =f.label :name, "Name your project"
        =f.text_field :name, :class => "text"
      .field
        =f.label :goal, "Goal ($)", :title => "How much money do you need to accomplish the project?"
        =f.text_field :goal, :class => "text"
        %em (Ex: 1000)
      .field
        =f.label :expiration_date, "Target Completion Date", :title => "Let Cogsters know when you would like to reach the goal. Don't worry, you can change this at any time."
        =f.text_field :expiration_date, :class => "datepicker text"
        %br/
      .field
        =f.label :reason, "Description", :title => "Let your supporters know how you will use the money you raise to improve your business."
        =f.text_area :reason
        %em (Limit 500 characters)
      .field
        =f.label :max_amount, "Maximum Individual Purchase", :title => "This is the maximum dollar amount you will accept from any one purchaser in this project"
        =f.select :max_amount, options_for_select((10.step(990, 10).to_a), @project.max_amount.to_i)
  %fieldset
    %legend Supporter Purchase Options
    .legend_field_set
      %strong Timetable
      %p This is where you set up the schedule on which your supporters can use their Cogster Cash
      .field
        =f.label :project_option_id, "Timetable"
        =f.select :project_option_id, @project_options
      /%strong Kickers:
      /%p What else can you "kick in" to reward your loyal supporters?  Be creative, and give your supporters some extra incentives to join your project and show their loyalty to your business/group.
      /.field
      /  =f.label :kicker
      /  =f.text_area :kicker
      /  %em (Limit 150 characters)
      -if @project.new_record?
        .field
          =f.label :terms, "I agree to the #{link_to 'Cogster Merchant Project Agreement', merchant_agreement_path, :class => 'new_window'}".html_safe
          =f.check_box :terms
    =f.submit @project.persisted?? "Update" : "Create"
