#content
  .main.full
    %h2 My Business
    %h3 Edit Fundraising Project
    =render "shared/business_navigation"
    =render "form"
    %ul
      %li
        %strong Campaign Milestone:
        %p This is the total amount of money you want to raise from your Cogster loyalty campaign.
      %li
        %strong Target Date:
        %p Set a goal for when you would like to meet your campaign milestone. Don't worry, you can change this at any time.
      %li
        %strong Reason for funds:
        %p Why are you launching this campaign? Let your supporters know how you are going to use this money to improve your business/group.
      %li
        %strong Maximum Individual Purchase:
        %p This is the highest dollar amount you will accept from any one purchaser who supports your loyalty campaign.
  #rightbar
