#content
  .main.full
    %h2 My Business
    %h3 Edit Fundraising Project
    =render "shared/business_navigation"
    =render "form"
    %ul
      %li
        %strong Project Goal:
        %p This is the total amount of money you want to raise from your Cogster loyalty project.
      %li
        %strong Target Date:
        %p Set a date for when you would like to meet your project goal. Don't worry, you can change this at any time.
      %li
        %strong Reason for funds:
        %p Why are you launching this project? Let your supporters know how you are going to use this money to improve your business/group.
      %li
        %strong Maximum Individual Purchase:
        %p This is the highest dollar amount you will accept from any one purchaser who supports your project.
  #rightbar
