#content
  .main.full
    %h2 Cogster Customer List
    %p="as of #{Time.now.strftime("%I:%M%P, %m/%d/%y")}"
    %table{ :cellpadding => 0, :cellspacing => 0 }
      %thead
        %tr
          %th{ :colspan => 2 } Cogster
          %th{ :colspan => @project.redemption_schedule.length } Visit Period
          %th Purchase
        %tr
          %th Name
          %th ID
          -@project.redemption_schedule.length.times do |n|
            %th=n+1
          %th Amount
          %th Date
      %tbody
        =render :partial => 'purchase', :collection => @purchases
