=error_messages_for @community
%fieldset
  .field
    =form.label :name, nil, :class => "required"
    =form.text_field :name,  :class => "text"
  .field
    =form.label :handle, nil, :class => "required"
    =form.text_field :handle, :class => "text"
  .field
    =form.label :state, nil, :class => "required"
    =form.select :state, Address::STATES, :include_blank => true
  .field
    =form.label :active, :class => "required"
    =form.check_box :active
  .field
    =form.label :event_start_date, "Event Start Date", :title => "The date on which every offer in this community will begin."
    =form.text_field :event_start_date, :class => "datepicker text"
  .field
    =form.label :event_completion_date, "Event Completion Date", :title => "The date on which every offer in this community will finish."
    =form.text_field :event_completion_date, :class => "datepicker text"
  .field
    =form.label :image, "Community Logo"
    =form.file_field :image
    =image_tag @community.image_url
