-content_for :menu do
  =menu
#content
  .main.full
    #business_region_list
      %h2.seo_hide The Buzz In Town. Discover great, local businesses below
      #business_controls
        #business_sort
          #sort_by_text Sort By:
          #business_sort_selection
            %strong Popularity
            %ul
              %li
                =link_to "Name (A-Z)", :sort => 'name'
              %li
                =link_to "Newest", :sort => 'created_at'
        .clear
      .businesses
        =render :partial => 'shared/business', :collection => @businesses
  #rightbar
    #region_point_counter
      .center
        %a.hidden_link{:href => "#{local_path}"}
          %small Value created:
        %span 0
        %a.hidden_link{:href => "#{local_path}"}
          New Jobs
      #counter
        =swag_counter
        %p.clear
      %p Swag remaining to create one new job
    =render 'shared/sidebar'
