%tr{ :id => "interval_#{interval_counter}" }
  %td=select_tag "project_option[redemption_schedule_duration][]", options_for_select((1..90).to_a, interval[:duration].to_i), :id => "project_option_redemption_schedule_duration_#{interval_counter}"
  %td=text_field_tag "project_option[redemption_schedule_return][]", nil, :class => "text", :id => "project_option_redemption_schedule_return_#{interval_counter}"
  %td=link_to "Remove", :intervals => fewer_intervals
