<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your Cogster password. You can do that through the following link.</p>

<p><%= =link_to "Change my password", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request to change your password, please ignore this message. Your password won't change until you follow the link above and create a new password.</p>
