-content_for :menu do
  =admin_menu
#content
  =notice_or_alert
  .main.narrow
    %h2 Cogsters
    =paginated_section @cogsters do
      %table{ :cellpadding => 0, :cellspacing => 0 }
        %thead
          %tr
            %th Name
            %th Community
            %th Last Login
        %tbody
          =render :partial => 'cogster', :collection => @cogsters
    =link_to 'Add User', new_admin_user_path
  #rightbar
    %h3 Other User Types
    %ul
      %li=link_to "Merchants", :type => 'merchants', :page => 1
      %li=link_to "Admin", :type => 'admin', :page => 1
      %li=link_to "Unconfirmed Users", :type => 'unconfirmed', :page => 1
