-content_for :menu do
  =menu
#content
  .main.narrow
    %h2 New User
    =form_for @user, :url => admin_users_path do |f|
      =error_messages_for @user
      =render :partial => 'shared/user_form', :locals => { :f => f }
      =render :partial => 'shared/user_password_form', :locals => { :f => f}
      =render :partial => 'shared/user_community_form', :locals => {:f => f}
      .field
        =f.label :role, nil, :class => "required"
        =f.select :role, options_for_select(%w(admin merchant cogster))
      #new_business.hide
        =f.fields_for :business, @business do |b|
          =render :partial => 'shared/business_form', :locals => { :b => b }
          =render :partial => 'shared/address_form', :locals => { :addressable => @business.address, :f => b }
      .field
        =submit_tag "Create", :class => "submit"
    .clear
    =link_to "Cancel", admin_users_path
