%fieldset
  .field
    =form.label :name, nil, :class => "required"
    =form.text_field :name,  :class => "text"
  .field
    =form.label :handle, nil, :class => "required"
    =form.text_field :handle, :class => "text"
  .field
    =form.label :state, nil, :class => "required"
    =form.select :state, Address::STATES, :include_blank => true
  .field
    =form.label :active, :class => "required"
    =form.check_box :active
  =submit_tag "#{@community.persisted?? 'Edit' : 'Add'} Community", :class => "submit", :id => "submit"
