-content_for :title do
  ="Cogster - #{@community.name}"
-content_for :menu do
  =menu
#content
  =render 'shared/businesses'
  #rightbar
    #region_point_counter
      .center
        %a.hidden_link{ :href => how_it_works_path }
          %small Dollars Kept Local: 
        %span=impact
