<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="no-js ie ie6">
/[if IE 7 ] <html class="no-js ie ie7">
/[if IE 8 ] <html class="no-js ie ie8">
/ [if (gte IE 9)|!(IE)]><!
%html.no-js
  / <![endif] 
  =render 'layouts/header'
  %body
    /[if lt IE 7]
      .error
      You are currently using an outdated browser that does not support many of the features on Cogster.  Please download a faster, more modern browser like: <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.getfirefox.com" target="_blank">Mozilla Firefox</a>, or <a href="http://www.opera.com" target="_blank">Opera</a>.
    #header.clearfix
      %div
        %h1
          =link_to image_tag("logo.png", :alt => "Cogster", 
                  :id => "main_logo"), root_path, :title => "Cogster"
        #links
          %ul
            %li#nav3.first
              %a{:href => "#{how_it_works_path}"}
                %span See
                %strong How it Works
        =render :partial => 'shared/login'
    #menu_container
      #menu
        =yield :menu
    #container
      =yield
      #sticky_footer
    = render 'layouts/footer'
