= render 'layouts/header'
%body
  /[if lt IE 7]
    .error
    You are currently using an outdated browser that does not support many of the features on Cogster.  Please download a faster, more modern browser like: <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.getfirefox.com" target="_blank">Mozilla Firefox</a>, or <a href="http://www.opera.com" target="_blank">Opera</a>.
  #container
    =yield
