%head
  %meta{ 'charset' => "utf-8" }/ 
  %title
  %meta{ :name => "description", :content => "A Web platform where local businesses and their customers team up to drive their local economy forward." }/
  %meta{ :name => "keywords", :content => "cogster, local, business, customers, consumers, support, connect, drive, economy, forward, community" }/

  =wicked_pdf_stylesheet_link_tag "global"
  =wicked_pdf_stylesheet_link_tag "replacement"
  =csrf_meta_tag
%body
  #container
    =yield
