%tr
  %td=link_to community_request.created_at.strftime("%r %D"), new_admin_community_path(:community_request_id => community_request.id), :class => "community_request"
  %td=community_request.zip_code
