%tr{ :class => expiration_status(coupon) }
  %td=number_to_currency(coupon.initial_amount, :precision => 2)
  %td=number_to_currency(coupon.remainder, :precision => 2)
  %td="#{coupon.start_date.strftime("%b %d")} - #{coupon.expiration_date.strftime("%b %d")}"
  %td=cash_link(coupon)
