%tr
  %td=supporter_purchase.abbr_name
  %td=supporter_purchase.cogster_id
  -supporter_purchase.coupons.each do |coupon|
    %td=merchant_coupon_display(coupon)
  %td=supporter_purchase.created_at.strftime("%B %d")
  %td=number_to_currency(supporter_purchase.amount)

