%tr
  %td=supporter_purchase.abbr_name
  %td=supporter_purchase.cogster_id
  -supporter_purchase.coupons.each do |coupon|
    %td=merchant_coupon_display(coupon)
  %td="Joined for #{number_to_currency(supporter_purchase.amount)} on #{supporter_purchase.created_at("%m/%d/%y")}"

