.toggle_view
  %h2="#{current_user.role.capitalize} View"
  %p Click the button to change to normal Cogster view, so that you can make purchases from other merchants and print your Cogster cash.
  =button_to "User View", account_path(:toggle => true), :method => :put
