#dd_container
/[if lt IE 7 ]
  <div class="error">
  You are currently using an outdated browser that does not support many of the features on Cogster.  Please download a faster, more modern browser like: <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.getfirefox.com" target="_blank">Mozilla Firefox</a>, or <a href="http://www.opera.com" target="_blank">Opera</a>.
  </div>
#cash_spacer  
#cash
  #note
    #region=@purchase.business.community.name
    #small_cash_logo
      =image_tag("images8/cogster_cash_text_logo.png", :alt => "Cogster")
    #cash_text
      Cash
  %h1#value=number_to_currency(@coupon.amount, :precision => 2)
  %h2=current_user.name 
  #unique_id
    %strong COGSTER ID:
    %span=current_user.cogster_id
  #business
    %strong=@purchase.business.name
    %br
    =@purchase.business.address.line_1
    %br
    =@purchase.business.address.last_line
    %br
    =@purchase.business.address.phone
  #cogster_cash_logo
    =image_tag "images8/cogster_cash_logo.png", :alt => "Cogster.com"
    %h4 Cogster Cash
  %h3
    %strong VALID:
    %span#start_date=@coupon.start_date.strftime("%b %d")
    %br
      %strong TO:
      %span#end_date=@coupon.expiration_date.strftime("%b %d")
  / <div id="fineprint">Not valid with other promotions or offers unless authorized by merchant</div>
  /
    <div id="sign_off">
    <div id="p1">Official Use:</div>
    <div id="p2">Amount Used:<div class="line"></div></div>
    <div id="p3">Date:<div class="line"></div></div>
    <div id="p4">Init:<div class="line"></div></div>
    </div>
  .clear
    %div
      =link_to "Go Back", account_path, :id => "button_1", :class => "button hide_print"
      %a#print_cash.button.hide_print{:href => "#"} Print
