-content_for :menu do
  =menu_without_business_filters
#content
  =notice_or_alert
  .main.full
    %h3
      Welcome Back, 
      =current_user.first_name
    %p
      =link_to "Edit profile", edit_account_path
      |
      =link_to "Edit password", edit_password_account_path
    %h2 My Purchases
    -if @purchases.empty?
      %p You have no active purchases.
    #business_purchase_list
      =render :partial => 'purchase', :collection => @purchases
  #rightbar
    =admin_or_merchant_view_button
    #region_point_counter
      .center
        %a.hidden_link{:href => how_it_works_path }
          %small Value created:
        %span=impact
