-content_for :menu do
  =menu_without_business_filters
#content
  .main.full
    %h3
      Welcome Back, Steve (
      =link_to "edit profile", edit_account_path
      )
    %h2 My Purchases
    #business_purchase_list
      =render :partial => 'purchase', :collection => @purchases
  #rightbar
    #region_point_counter
      .center
        %a.hidden_link{:href => local_path }
          %small Value created:
        %span 0
        =link_to "New Jobs", local_path, :class => "hidden_link"
      #counter
        =swag_counter
        %p.clear
      %p Swag remaining to create one new job
      =render 'shared/personal_swag'
      #my_swag_options
        =link_to "What is swag?", swag_path, :id => "smaller"
