-content_for :menu do
  =breadcrumbs [link_to('Account', account_path), 'Edit Password']
#content
  .main.full
    %h2 My Cogster
    %h3 Edit Password
    =form_for current_user, :url => account_path do |f|
      =error_messages_for current_user
      %h4.split Password
      .field
        =f.label :password, "New Password", :class => "required"
        =f.password_field :password, :class => "text"
      .field
        =f.label :password_confirmation, "Confirm Password", :class => "required"
        =f.password_field :password_confirmation, :class => "text"
      .field.split
        =f.submit "Update", :class => "submit right"
