-content_for :menu do
  =breadcrumbs [link_to('Account', account_path), 'Edit Profile']
#content
  .main.full
    %h2 My Cogster
    %h3 Edit Profile
    =form_for current_user, :url => account_path do |f|
      =error_messages_for current_user
      %h4.split General Information
      %p Here you can edit your email address, name and community.
      =render :partial => 'shared/user_form', :locals => { :f => f }
      =render :partial => 'shared/user_community_form', :locals => { :f => f }
      .clear
      %h4.split Contact Information
      %p Store your information below for future purchases.
      =render :partial => 'shared/address_form', :locals => { :f => f, :addressable => current_user.address }
      .clear
      .field.split
        =f.submit "Update", :class => "submit right"
