-content_for :menu do
  %ul
    -if @current_project.persisted?
      %li=link_to "View Customer List", business_project_path(@business, @current_project)
    %li=link_to 'View Business', business_path(@business)
    %li=link_to 'Edit Profile', edit_account_path
    %li=link_to 'Edit Business', edit_business_path(@business)
    %li=new_or_edit_project_link(@current_project)
#content
  .main.full
    %h3 
      Welcome Back, 
      =current_user.first_name
    %h2 My Current Project
    -if @current_project.new_record?
      %p 
        Looks like you don't have a project set up yet. 
        =link_to "Click here to set up your first project", new_business_project_path(current_user.business), :id => 'new_project'
    -else
      %h4="#{@current_project.supporters.count} Supporters"
      %div
        =# render 'shared/progress_bar', :project => @current_project
        %dl.list
          %dt Project Goal
          %dd.value
            =number_to_currency(@current_project.goal)
          %dt Percent Reached
          %dd.value 
            =@current_project.percent_funded
          %dt Start Date
          %dd.value=@current_project.created_at.strftime("%b %d")
          %dt End Date
          %dd.value=@current_project.expiration_date.strftime("%b %d")
          %dt Maximum Individual Purchase
          %dd=number_to_currency(@current_project.max_amount)
        =link_to "Edit Current Project", edit_business_project_path(current_user.business, @current_project), :title => "Click to change any of the parameters of your current Cogster project", :class => "right"
      %h2 Manage Redemptions
      -if @current_project.supporters.empty?
        %p Once your project starts to get supporters, you will see how to redeem purchases on this page when you log in.
      -else
        %p Find the customer's name. Click on the dollar amount under the appropriate Visit Period. Process the visit.
        %p=link_to "View All Cogster Cash Purchases", business_project_path(@business, @current_project)
        %table{ :cellpadding => 0, :cellspacing => 0, :id => "redemptions" }
          %thead
            %tr
              %th{ :colspan => 2}Customer
              %th{ :colspan => @current_project.redemption_schedule.length }="Visit Period"
              %th &nbsp;
            %tr
              %th Name
              %th Cogster ID
              -1.upto(@current_project.redemption_schedule.length) do |n|
                %th=n
              %th Details
          %tbody
            =render :partial => 'supporter_purchase', :collection => @current_project.purchases

  #rightbar
    =render 'user_view_button' unless session[:cogster]
    =admin_or_merchant_view_button
